@import '../../variables.scss';

.help-menu {
  margin-top: 32px;
  
  @media (min-width: 1050px) {
    padding: 0 0 0 75px;
  }

  &__kind-help {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 700;
    color: $color-white-blue;

    &:hover .help-menu__img,
    &:focus .help-menu__img,
    &:active .help-menu__img {
      fill: $color-white;
    }

    &:hover .help-menu__img-wrap,
    &:focus .help-menu__img-wrap,
    &:active .help-menu__img-wrap {
      border: 2px solid $bgc-purple;
      background-color: $bgc-purple;
      transform: rotate(-10deg);
    }

    &:hover .help-menu__descr,
    &:focus .help-menu__descr,
    &:active .help-menu__descr {
      color: $color-main;
    }
  }

  &__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border: 2px solid $color-white-blue;
    border-radius: $border-radius--bg;
    transition: background-color $transition-duration;
  }

  &__img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: fill $transition-duration;
    fill: $color-white-blue;
  }

  &__payment {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 17px;
    padding: 12px;
    border: 1px solid $color-white-blue;
    border-radius: $border-radius;
    color: $color-gray-text;
  }

  &__payment-methods {
    flex-basis: 50%;
  }

  &__payment-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 4px;
  }

  &__text {
    font-size: 12px;
  }

  &__payment-btn {
    width: 130px;
    height: 68px;
    padding: 8px 5px;
    border: none;
    border-radius: $border-radius--bg;
    background-color: $color-white-blue;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    color: $color-white;
    transition: background-color $transition-duration;

    &:hover,
    &:focus,
    &:active {
      background-color: $bgc-purple;
    }
  }

  &__payment-wrap-img {
    display: flex;
  }

  &__payment-img {
    width: 50px;
    height: 20px;
    fill: $color-white;

    &--height--30 {
      height: 30px;
    }

    &--wm {
      width: 75px;
    }
  }

  &__payment-descr {
    margin-top: 15px;

    &--big {
      margin-top: 0;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: -1px;
    }

    &--m--sm {
      margin-top: 5px;
    }
  }

  &__card-info-card {
    width: 320px;
    height: 150px;
    border-radius: $border-radius--bg;
    background-color: $color-white-blue;
  }
}