@import '../../variables.scss';

.help-menu {
  margin-top: 32px;

  &__kind-help {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 700;
    color: $color-white-blue;

    &:hover .help-menu__img,
    &:focus .help-menu__img,
    &:active .help-menu__img {
      fill: $color-white;
    }

    &:hover .help-menu__img-wrap,
    &:focus .help-menu__img-wrap,
    &:active .help-menu__img-wrap {
      border: 2px solid $bgc-purple;
      background-color: $bgc-purple;
      transform: rotate(-10deg);
    }

    &:hover .help-menu__descr,
    &:focus .help-menu__descr,
    &:active .help-menu__descr {
      color: $color-main;
    }
  }

  &__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border: 2px solid $color-white-blue;
    border-radius: $border-radius--bg;
    transition: background-color $transition-duration;
  }

  &__img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: fill $transition-duration;
    fill: $color-white-blue;
  }

  &__payment {
    margin-top: 22px;
    border: 1px solid $color-main;
    border-radius: $border-radius;
  }

  // &__method-payment {

  // }
}