$color-main-dark: #363b5d;
$color-main-dark-midle: #829abc;
$color-main-dark-light: #c5d5e6;
$color-white: #fff;
$color-gray: #f3f7fa;
$color-gray-text: #b7bbc1;
$bgc-hover: #9297b4;
$bgc-purple: rgba(152,99,162,1);

$border-radius: 5px;
$border-radius--bg: 12px;

$transition-duration: 0.3s;
